{% load static %}
<!-- Intro settings -->
<style>
    {##intro {#}
    {#    /* Margin to fix overlapping fixed navbar */#}
    {#    margin-top: 58px;#}
    {#}#}

    @media (max-width: 991px) {
        #note {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 30px;
            opacity: 0.5;
            position: relative;
            z-index: 1;
        }
    }
</style>


<div style="position:relative;text-align: center" class="note" id="note">
     </br>
     <p>只需要将图片上传至公共盘的同事请使用快传功能，需要保存图片至数据库的同事需先提出申请,
         服务器运行时间：8：30 —— 20：00</p>
 </div>
